<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> You have a new meeting at </h1>
    <p>
      Time: <%= @exchange.meeting %>.<br>
    </p>
    <p>Look forward to seeing you and have a great day!</p>
  </body>
</html>