<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to meetsafe.com </h1>
    <p>
      You have successfully signed up to meetsafe.com,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      You will recieve email and text notifications about upcoming meetings.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>